.note, .question, .flag, .walkthrough {
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: left top;
  background-origin: content-box;
  padding-top: 10px;
  min-height: 70px;
}

.note {
  border: 1pt solid #0d4a7b;
  background-color: #f0f7fd;
  background-image: url("images/note.png");
}

.question {
  border: 1pt solid #1f7b0d;
  background-color: #f1fdf0;
  background-image: url("images/question.png");
}

.flag {
  border: 1pt solid #9d0606;
  background-color: #f9f3f3;
  background-image: url("images/flag.png");
}

.walkthrough {
  border: 1pt solid #ffa600;
  background-color: #fef9e7 ;
  background-image: url("images/walkthrough.png");
}

.walkthrough p, .flag p, .question p, .note p, .walkthrough ul, .flag ul, .question ul, .note ul{
  margin-left: 50px;
}

pre {
    color: #000000 !important;
    border: none !important;
}

.bg-danger {
    background-color: #e74c3c80 !important;
    border: 1px solid #e74c3c !important;
}

.bg-warning {
    background-color: #f39c1299 !important;
    border: 1px solid #f39c12 !important;
}

.bg-success {
    background-color: #18bc9c99 !important;
    border: 1px solid #18bc9c !important;
}

#footer {
  margin-top: 50px;
}

#footer img {
  box-shadow: none;
  margin: 20px auto 0 auto;
  max-width: 150px;
}

.uvic {
  margin-top: 35px !important;
  max-width: 80px!important;
}

.inst-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

h1 {
  display: none;
}

h2, h3 {
  margin-top: 0px;
}

#BannerContainer {
  background-color: #fff;
}

.alliance-logo {
  width: 20% !important;
  display: block;
  margin: 0;
  box-shadow: none;
  float: right;
}

a:link, a:visited, a:hover, a:active {
  color: #8cacd4 !important;
}

.navbar a:link, .navbar a:visited, .navbar a:active {
  color: #ffffff !important;
}

.navbar a:hover {
  color: #32322F !important;
}

#header {
    padding-top: 30px !important;
}

.dropdown-menu {
  background-color: #D6AB00 !important;
}

.active {
  background-color: #D6AB00 !important;
}

.active > a, .open > a {
  background-color: #32322F !important;
}

.navbar .active a:hover, .navbar .open a:hover {
  color: #ffffff !important;
}

.dropdown-menu > li > a:hover {
  background-color: #32322F !important;
}

.navbar-default {
  background-color: #D6AB00 !important;
}

.figure p {
  display: none;
}

img {
  box-shadow: 0px 0px 10px 1px #cccccc;
  margin: 20px auto 20px 20px;
}

.important {
  color: #8b0000;
}

.md-table > table > tbody > tr > td {
  padding:1em 1em 0 0;
  vertical-align: top;
}

.schedule-table > table > tbody > tr > td {
  color: #FBFAFA;
  background-color: #D6AB00;
  border: 2px solid #FBFAFA;
  padding:1em;
  vertical-align: top;
  border-radius: 5px;
}

.schedule-table > table > tbody > tr > th {
  color: #32322F;
  background-color: #00DBA7;
  border: 2px solid #FBFAFA;
  padding:1em;
  vertical-align: top;
  border-radius: 5px;
}

.empty-block {
            background: repeating-linear-gradient(45deg, #ffffff, #ffffff 5px, #D6AB00 5px, #D6AB00 10px);
        }