.note, .question, .flag, .walkthrough {
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: left top;
  background-origin: content-box;
  padding-top: 10px;
  min-height: 70px;
}

.note {
  border: 1pt solid #0d4a7b;
  background-color: #f0f7fd;
  background-image: url("images/icons/note.png");
}

.question {
  border: 1pt solid #1f7b0d;
  background-color: #f1fdf0;
  background-image: url("images/icons/question.png");
}

.flag {
  border: 1pt solid #9d0606;
  background-color: #f9f3f3;
  background-image: url("images/icons/flag.png");
}

.walkthrough {
  border: 1pt solid #ffa600;
  background-color: #fef9e7 ;
  background-image: url("images/icons/walkthrough.png");
}

.walkthrough p, .flag p, .question p, .note p, .walkthrough ul, .flag ul, .question ul, .note ul{
  margin-left: 52px;
}

.walkthrough ul li p, .flag ul li p, .question ul li p, .note ul li p, .walkthrough ol li p, .flag ol li p, .question ol li p, .note ol li p {
  margin-left: 0px;
}

.note ol, .flag ol, .question ol, .walkthrough ol {
  margin-left: 30px;
}

.intro {
  font-weight: bold;
  text-align: center;
  font-size: 1.15em;
}

pre {
    color: #000000 !important;
    border: none !important;
}

.bg-danger {
    background-color: #e74c3c80 !important;
    border: 1px solid #e74c3c !important;
}

.bg-warning {
    background-color: #f39c1299 !important;
    border: 1px solid #f39c12 !important;
}

.bg-success {
    background-color: #18bc9c99 !important;
    border: 1px solid #18bc9c !important;
}

.pdf {
  width: 800px;
  height: 600px;
}

#footer {
  margin-top: 50px;
}

#footer img {
  box-shadow: none;
  margin: 20px auto 0 auto;
  max-width: 150px;
}

.cc-licence {
  float: left;
  margin: 0 10px 0 0 !important;
}

.uvic {
  margin-top: 35px !important;
  max-width: 80px!important;
}

.inst-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

h1 {
  display: none;
}

h2, h3 {
  margin-top: 0px;
}

.section h3, .section h2 {
  padding: 10px !important;
  margin-top: 50px !important;
}

.section h3 {
  border-left: 2px solid #D6AB00;
}

.section h2 {
  border-left: 3px solid #00DBA7;
}


#BannerContainer {
  background-color: #fff;
}

.alliance-logo {
  width: 20% !important;
  display: block;
  margin: 0;
  box-shadow: none;
  float: right;
}

a:link, a:visited, a:hover, a:active {
  color: #8cacd4 !important;
}

.navbar a:link, .navbar a:visited, .navbar a:active {
  color: #ffffff !important;
}

.navbar a:hover {
  color: #32322F !important;
}

#rmd-show-all-code, #rmd-hide-all-code, #rmd-download-source {
  color: #ffffff !important;
}

#header {
    padding-top: 30px !important;
}

.dropdown-menu {
  background-color: #D6AB00 !important;
}

.active {
  background-color: #D6AB00 !important;
}

.active > a, .open > a {
  background-color: #32322F !important;
}

.navbar .active a:hover, .navbar .open a:hover {
  color: #ffffff !important;
}

.dropdown-menu > li > a:hover {
  background-color: #32322F !important;
}

.navbar-default {
  background-color: #D6AB00 !important;
}

.figure p {
  display: none;
}

img {
  box-shadow: 0px 0px 10px 1px #cccccc;
  margin: 20px auto 20px 20px;
}

.important {
  color: #8b0000;
}

.md-table > table > tbody > tr > td {
  padding:1em 1em 0 0;
  vertical-align: top;
}

.md-table > table > colgroup > col{
  width: auto;
}

.schedule-table > table > tbody > tr > td {
  border: 2px solid #FBFAFA;
  padding:1em;
  vertical-align: top;
  border-radius: 5px;
  font-weight: bold;
}

.schedule-table > table > tbody > tr > td > a {
  display: block;
}

.schedule-link:hover{
  transform: scale(1.1);
  border-radius: 10px;
  background-color: #FBFAFA;
  color: #32322F;
  cursor: pointer;
}

.activity {
  background-color:  #00DBA7;
  color: #32322F;
}

.lecture {
  background-color: #D6AB00;
  color: #32322F;
}

.time {
  color: #FBFAFA;
  background-color: #32322F;
}

.schedule-table > table > tbody > tr > th {
  color: #FBFAFA;
  background-color: #32322F;
  border: 2px solid #FBFAFA;
  padding:1em;
  vertical-align: top;
  border-radius: 5px;
}

.empty-block, .break {
  background: repeating-linear-gradient(45deg, #ffffff, #ffffff 5px,#fcf3cf  5px, #fcf3cf 10px);
  color: #32322F;
        }